:root {
    --firstColor: rgb(213, 67, 213);
    --secondColor: rgb(230, 155, 7);
    --thirdColor: rgb(34, 169, 34);
    --fourthColor: rgb(0, 208, 255);
    --commonFont: monospace;
}

h3 {
    font-size: 35px;
    width: 80%;
    margin-top: 20px;
    /* margin-left: 20px; */
    font-family: var(--commonFont);
    text-align: center;
}

#resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#resourcesNav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 200px;
    border: black
}

#homePageForm {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#submitBtn {
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 35px;
    position: static;
    right: 0;
    font-size: 15px;
    border-radius: 16px;
    width: 100px;
}

#link1 {
    background-color: var(--secondColor)
}

#link2 {
    background-color: var(--fourthColor);
}

#link3 {
    background-color: var(--thirdColor);
}

#recipe1Div{
    background-color: var(--secondColor);
    border: 2px solid black;
    border-radius: 0px 64px 64px 0px;
}

#recipe2Div {
    background-color: var(--fourthColor);
    border: 2px solid black;
    border-radius: 64px 0px 0px 64px;
    margin-left: auto;
}

#recipe3Div {
    background-color: var(--thirdColor);
    border: 2px solid black;
    border-radius: 0px 64px 64px 0px;
}

form {
    background-color: var(--firstColor);
    height: 100px;
    width: 700px;
    opacity: 60%;
    border-radius: 32px;
    border: 2px solid black;
}

label {
    font-family: var(--commonFont);
    font-size: 17px;
    margin-left: 10px;
}

input {
    margin-top: 33px;
    height: 35px;
    margin-left: 10px;
    border: 2px solid black;
}

.links {
    font-family: var(--commonFont);
    color: white;
    opacity: 60%;
    font-size: 30px;
    padding-top: 35px;
    margin-top: 50px;
    height: 100px;
    border-radius: 32px;
    border: 2px solid black;
}

.foodInfoDiv {
    margin-top: 100px;
    color: white;
    opacity: 60%;
    width: 66%;
    padding-bottom: 50px;
}

select {
    width: 125px;
    height: 35px;
    border: 2px solid black;
    border-radius: 0px 16px 16px 0px;
    height: 35px;
    width: 100px;
}

.foodInfoDiv img {
    width: 50%;
    height: 50%;
    margin: 20px 0px 20px 20px;
}

h4 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-family: var(--commonFont);
    font-weight: bold;
}

ul li {
    width: 75%;
    font-size: 20px;
    font-family: var(--commonFont);
    margin-left: 20px;
}

.foodInfoDiv button {
    margin-left: 20px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 16px;
}