:root {
    --firstColor: rgb(213, 67, 213);
    --secondColor: rgb(230, 155, 7);
    --thirdColor: rgb(34, 169, 34);
    --fourthColor: rgb(0, 208, 255);
    --commonFont: monospace;
}
h2 {
    text-align: center;
    font-size: 35px;
    font-family: var(--commonFont);
    color: white;
}
p {
    text-align: center;
}
#dailybox {
    background-color: var(--secondColor);
}
#goalbox {
    background-color: var(--fourthColor);
    margin-left: auto;
}
#goalresultbox {
    background-color: var(--thirdColor);
}
#resultBtn {
    background-color: var(--firstColor);
    color: white;
    border: 2px solid black;
    border-radius: 16px;
    opacity: 60%;
    height: 50px;
    width: 125px;
    text-align: center;
    font-size: 15px;
    margin-left: 650px;
    margin-top: 50px;
}
.resultDiv {
    width: 75%;
    color: white;
    border: 2px solid black;
    border-radius: 32px;
    opacity: 60%;
    margin-top: 100px;
    background-color: var(--firstColor);
}

#inputCentering {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#generatebox {
    display: flex; justify-content: space-around;
    margin-top: 35px;
}
#didyouknow {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
}
div ul {
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goalbox p {
    font-size: 25px;
    font-family: var(--commonFont);
}

#goalresultbox li {
    font-family: var(--commonFont);
}