:root {
    --primaryColor: rgb(230, 155, 7);
    --secondaryColor: rgb(34, 169, 34);
    --alternateColor: rgb(0, 208, 255);
    --commonFont: monospace;

html {
    background-color: var(--primaryColor);
}

header {
    background-color: var(--primaryColor);
    color: white;
}

#headerNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.headerLink {
    font-family: var(--commonFont);
    font-size: 25px;
}
=======
}

html {
    background-color: var(--primaryColor);
}

header {
    background-color: var(--primaryColor);
    color: white;
}

#headerNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.headerLink {
    font-family: var(--commonFont);
    font-size: 25px;
}

