:root {
    --primaryColor: rgb(230, 155, 7);
    --secondaryColor: rgb(34, 169, 34);
    --alternateColor: rgb(0, 208, 255);
    --commonFont: monospace;
}

html {
    background-color: white;
}

h1 {
    font-size: 50px;
    font-family: var(--commonFont);
    text-align: center;
    opacity: 60%;
}

header {
    background-color: white;
    color: var(--secondaryColor);
}

#headerNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#homeBtn {
    background-color: var(--primaryColor);

}

#trackerBtn {
    background-color: var(--alternateColor);
    margin: 0px 2px 0px 2px;
}

#resultsBtn {
    background-color: var(--secondaryColor);
}

.headerLink {
    color: white;
    text-align: center;
    font-family: var(--commonFont);
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    border-radius: 0px 0px 16px 16px;
    opacity: 60%;
    border: 2px solid black;
    border-top: none;
}


