:root {
    --firstColor: rgb(213, 67, 213);
    --secondColor: rgb(230, 155, 7);
    --thirdColor: rgb(34, 169, 34);
    --fourthColor: rgb(0, 208, 255);
    --commonFont: monospace;
}

#formCentering {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#formContainer {
    border: 2px solid black;
    height:75px;
    background-color: var(--firstColor);
    width: 700px;
    opacity: 60%;
    border-radius: 32px;
    margin-top: 150px;
}

label {
    margin-left: 30px;
}

select, input, button {
    margin-top: 15px;
    height: 35px;
    border: 2px solid black;
    border-radius: 16px;
}

input {
    width: 150px;
    text-align: center;
}

h2, h3 {
    text-align: center;
    font-size: 35px;
    font-family: var(--commonFont);
    color: var(--firstColor);
    opacity: 60%;
}

h3 {
    font-size: 25px;
}

#submitTrackerBtn {
    width: 100px;
}

