.form-container{
    border: 5px;
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 5px;
}

.container{
    display: flex;
}